/* Navbar Component */
.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
/* Project Container */
.container {
  padding: 20px;
  display: flex;
}

.project-container {
  width: 25vw;
  height: 40vh;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  display: flex;
}
.img-container {
  width: 15vw;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.stack {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 5px;
}
.title {
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.github-icon {
  height: 25px;
  margin-right: 20px;
}
